.bg-black {
	background-color: #040b14 !important;
}
.bg-dark:hover {
	background-color: blue !important;
}

.fa-solid {
	display: inline-block !important;
}

.alex {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../image/alex.jpg) !important;
	/* background-color: red; */
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	/* height: auto; */
}

.bb {
    border-bottom: 2px solid #0974EF;
    padding-bottom: 10px;
    width: 60px;
    
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
}

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	/* display: none; */
}


ul{
    list-style: none!important;
}

i{
    color: #0974EF!important;
}


li{
    margin-bottom: 10px!important;
}
